// {
// 	"plugins": [
// 		// ["transform-es2015-modules-commonjs"],
// 		// ["transform-async-to-module-method", {
// 		// 	"module": "bluebird",
// 		// 	"method": "coroutine"
// 		// }],
// 		// "module:mithril-objectify" // does this work on mithril 2.0?
// 	]
// }

{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-react-jsx", "@babel/plugin-proposal-class-properties"]
}
